PSH 5       # Push 5 onto the stack
PSH 10      # Push 10 onto the stack
ADD         # Add the top two values on the stack
POP         # Pop the result
PSH 20      # Push 20 onto the stack

PSH 3       # Push 3 onto the stack
ADD         # Add the top two values



POP         # Pop the result
PSH 100     # Push 100
PSH 25      # Push 25
ADD         # Add the top two values
POP         # Pop the result
PSH 50      # Push 50
PSH 50      # Push 50
ADD         # Add the top two values
#attended
POP         # Pop the result
#attended





HLT         # Halt the program